// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.02em;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

  @media(max-width: 376px) {
    padding-left: 12px;
    padding-right: 12px;
    column-gap: 5px;
  }

  &--lg {
    height: 65px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--white {
    background-color: #fff;
  }

  &--black {
    background-color: var(--total-black);

    &:hover {
      background-color: var(--grey);
    }
  }

  &--light-blue {
    background-color: var(--light-blue);

    &:hover {
      background-color: var(--light-grey-blue);
    }
  }

  &--yellow {
    background-color: var(--yellow);

    &:hover {
      background-color: var(--yellow-dark);
    }
  }

  &--transparent-grey {
    border: 1px solid var(--grey);

    &:hover {
      background-color: var(--black);
      border-color: var(--black);
      color: #fff;

      svg {
        &.fill-black {
          fill: var(--white);
        }

        &.stroke-black {
          stroke: var(--white);
        }
      }

    }

    svg {
      &.fill-transparent {
        fill: transparent;
      }

      &.fill-black {
        fill: var(--black);
      }

      &.stroke-black {
        stroke: var(--black);
      }

      &.stroke-transparent {
        stroke: transparent;
      }
    }
  }

  &--green-light {
    background-color: var(--green-light);
    color: var(--green);
  }

  &--yellow-light {
    background-color: var(--yellow-light);
    color: var(--yellow-dark);
  }

  &--red-light {
    background-color: var(--red-light);
    color: var(--error);
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;

    &.w-24 {
      width: 24px;
      height: 24px;
    }

    &.w-16 {
      width: 16px;
      height: 16px;
    }
  }

  &--h-25 {
    height: 25px;
  }

  &:disabled {
    opacity: 0.33;
    pointer-events: none;
  }

  &.px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.button-round {
  border-radius: 50%;
  transition: background-color .2s linear, color .2s linear;

  &.bg--light-blue {
    &:hover {
      background-color: var(--light-grey-blue);
    }
  }

  &.width-50 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  svg {
    &.w-24 {
      width: 24px;
    }

    &.h-24 {
      height: 24px;
    }
  }
  &:disabled {
    opacity: .3;
  }
}

.form:has(.agreement input:not(:checked)) .formBtn {
  opacity: .33;
  pointer-events: none;
}

.togglePasswordBtn {
  background: url('@img/icons/eye.svg') no-repeat center center / 18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 13px;
}

.photo-item-remove-image {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  right: -25px;
  background-color: #fff;
}

.headerBtnRound {
  background-color: var(--yellow);
  height: 70px;
  padding-bottom: 12px;
  border-radius: 0 0 30px 30px;
  transition: background-color .2s linear;

  &:hover {
    background-color: var(--yellow-dark);
  }

  img {
    width: 24px;
    position: relative;
    top: 2px;
  }
}

.sellers-profile-edit-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.button-edit {
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  svg {
    fill: var(--grey-blue);
    stroke: transparent;
    width: 20px;
    height: 20px;
  }
}

.filterBtn {
  position: relative;

  &.active {
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: var(--yellow);
      position: absolute;
      border-radius: 50%;
      top: 12px;
      right: 8px;
    }
  }
}