// Header
.header {
  border-bottom: 1px solid var(--light-blue);
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;

  .logo {
    img {
      width: 155px;
    }
  }

  &Nav {
    position: absolute;
    top: 81px;
    padding-top: 40px;
    background-color: #fff;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    padding-bottom: 50px;
    display: none;
    width: 100%;

    &.active {
      display: block;
      -webkit-animation: shows 0.2s;
      animation: shows 0.2s;
    }

    ul {
      border-bottom: 1px solid #e3e3e3;

      li {
        a {
          line-height: 160%;

          &:hover {
            color: var(--grey);
          }
        }
      }
    }
  }

  &-seller {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;

    .container {
      @media(max-width: 575px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .headerT {
      border-radius: 0 0 30px 30px;
      background-color: #fff;
      padding: 20px;
      position: relative;
      z-index: 1;
    }

    .headerB {
      position: relative;
      bottom: 26px;

      @media(max-width: 991px) {
        bottom: 23px;
      }
    }

    .headerBtn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: .85;
      }
    }
  }

  &.header-no-fixed {
    position: absolute;
  }
}