// modal
.modal {
  display: none;
  width: 960px;
  height: fit-content;

  .h4 {
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  &.p-40-32 {
    padding: 40px 32px;
  }

  color: var(--main-color);

  &-w-640 {
    width: 640px;
  }

  &-w-480 {
    width: 480px;
  }

  &-w-375 {
    width: 375px;
  }
}

.p-32-24 {
  padding: 32px 24px;
}

.p-32-40 {
  padding: 32px 40px;
}

.p-32-60 {
  padding: 32px 60px;
}

.p-27-32 {
  padding: 27px 32px;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
  background-color: transparent;
  right: 30px;
  top: 30px;
  opacity: 1;
  width: 24px;
  height: 24px;

  svg {
    color: var(--grey-blue);
    opacity: 1;
    width: 14px;
    height: 14px;
    stroke-width: 3px;
    stroke: var(--grey-blue);
  }
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background-color: rgba($color: #000000, $alpha: .7);
}

.fancybox__content>.f-button.is-close-btn {
  color: #000;
  right: 24px;
  top: 15px;
}

.modalPrevLink {
  position: absolute;
  left: 20px;
  &-sm-relative {
    @media(max-width: 575px){
      position: relative;
      left: 0;
    }
  }
}

.f-button-w-24 {
  width: 24px;
  height: 24px;
}

.f-button.is-close-btn {
  color: var(--grey-blue);
}

.f-button.is-close-btn:hover {
  background-color: transparent;
}