.tabs {
  &__nav {
    display: flex;
    width: fit-content;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      &--active {
        background-color: var(--total-black);
        color: #fff;
      }
      &.min-w-150 {
        min-width: 150px;
      }
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}

.tabs-green {
  .tabs__nav-btn {
    color: var(--grey-blue);
    font-weight: 500;

    &:hover {
      box-shadow: none;
      border-color: transparent;
    }
    &:focus {
      color: #fff;
    }

    &.h-40 {
      height: 40px;
    }

    &.rounded-20 {
      border-radius: 20px;
    }
    &.min-w-160 {
      min-width: 160px;
    }
  }
  .tabs__nav-item.w-50 {
    width: calc(50% - 5px)!important;
    @media(max-width: 420px){
      width: 100%!important;
    }
  }
  .tabs__nav {
    @media(max-width: 420px){
      flex-direction: column;
      min-width: unset!important;
      width: 100%;
    }
  }

  .tabs__nav-btn--active,
  .tabs__nav-btn.active {
    background-color: var(--green)!important;
    color: #fff!important;

    &.tabs__nav-btn-active-red {
      background-color: var(--error)!important;
    }
  }

}


.tabs-admin {
  .tabs__nav {
    @media(max-width: 991px){
      gap: 10px;
    }
    @media(max-width: 575px){
      overflow-x: auto;
      min-width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .tabs__nav-btn {
    color: var(--grey-blue);
    font-weight: 500;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    white-space: nowrap;
    @media(max-width: 1199px){
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: var(--yellow);
      opacity: 0;
      border-radius: 10px 10px 0 0;
      @media(max-width: 1199px){
        height: 3px;
      }
    }

    &:hover {
      color: var(--main-color);
    }

    &--active {
      color: var(--main-color);
      background-color: transparent;

      &::after {
        opacity: 1;
      }
    }
  }
  h3,.h3 {
    @media(max-width: 1199px){
      font-size: 18px;
    }
  }
}