.tabs {
  &__nav {
    display: flex;
    width: fit-content;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      &--active {
        background-color: var(--total-black);
        color: #fff;
      }
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}

