.tabs {
  &__nav {
    display: flex;
    width: fit-content;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      &--active {
        background-color: var(--total-black);
        color: #fff;
      }
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}

.tabs-green {
  .tabs__nav-btn {
    color: var(--grey-blue);
    font-weight: 500;
  }

  .tabs__nav-btn--active {
    background-color: var(--green);
    color: #fff;
    &.tabs__nav-btn-active-red {
      background-color: var(--error);
    }
  }
  
}